<h1>Edit channel</h1>
<%= form_for @channel do |f| %>

  <%= render partial: "form", locals: { f: f} %>

  <p><%= f.submit "Сохранить изменения" %></p>
  <%= link_to "к списку каналов", channels_path %>
<% end %>